<body style="background-color: #f5f6fa;">
<div class="sticky">
     <div class="glyphicon glyphicon-magnet" 
   style="font-size:60px;color:lightblue; text-shadow:2px 2px 4px #000000;">
   </div>
   <footer class="cancelBtn"><%= button_to "Back", category_index_path, :method => "get", class: "newBtn"%></footer>
</div>
<div class="newCatPage">
<%= form_with model: @category, url: category_index_path, local: true do |form| %>
 
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :id %><br>
    <%= form.text_field :categoryId %>
  </p>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_area :Name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
</body>