<div class="main">
<div class="sticky">
     <div class="glyphicon glyphicon-magnet" 
   style="font-size:60px;color:lightblue; text-shadow:2px 2px 4px #000000;">
   </div>
   <footer class="cancelBtn"><%= button_to "Back", category_index_path, :method => "get", class: "newBtn"%></footer>
</div>
<div class="editCatPage">
  <%= form_with model: @category, url: @newpath, local: true do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p id="idEdit">
    <%= form.label :id %><br>
    <div class="idEdit">
    <%= form.text_field :categoryId %>
    </div>
  </p>
 
  <p id="nameEdit">
    <%= form.label :name %><br>
    <div class="nameEdit">
    <%= form.text_area :Name %>
    </div>
  </p>
 
  <p id="submitEdit">
    <%= form.submit %>
  </p>
<% end %> 
</div>
</div>