<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="header">
  <%= image_tag 'house.png', :class => "iconLil" %>
  <%= link_to 'Home', user_user_index_path, :class => 'homeBTN' %>
</div><br>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>

<div class="recipeShow">
  <% if user_logged_in? %>
      <h1>You are Logged In, <%= current_user.user_name %></h1>
  <%end%>
  <%= button_to "Sign up", new_user_user_path, method: :get %>
  <%= button_to "Login", new_user_session_path, method: :get %>
  <%= button_to "Logout", user_session_index_path, method: :delete %>
</div>
