<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>

<div class="recipeShow">
  <h1>Login</h1>
  <hr>
    <div class="user_sign_fld">
    <%= form_tag url: user_session_index_path, class: 'user_sign_fld' do %>
        <%= label_tag :user_name %><br>
        <%= text_field_tag :user_name %><br>
        <%= label_tag :password %><br>
        <%= password_field_tag :password %><br>
        <%= submit_tag "Login", class: 'user_se_btn'%>
    <%end%>
    </div>
</div>
