<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>

<div class="recipeShow">
  <h1>Login</h1>
  <hr>
  <div class="user_sign_fld">
  <%= form_tag :user, url: user_session_index_path do |f| %>
      <%= label :user_name %><br>
      <%= text_field :user_name %><br>
      <%= label :password %><br>
      <%= password_field :password %><br>
      <%= submit "Login", class: 'user_se_btn'%>
  <%end%>
  </div>
</div>
