<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<body style="background-color: #d8e5f1;">
<div class="head">
<h1 class="headWord">
  <%= image_tag "edit.png", :class => "iconH1" %> Edit Ingredient
</h1>
<hr>
<%# render 'form' %>

<%= form_with(model: @ingre, url: admin_ingredient_path(@ingre), local: true) do |form| %>
    <% if @ingre.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@ingre.errors.count, "error") %>
    prohibited
          this ingredient from being saved:
        </h2>
        <ul>
          <% @ingre.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :ingre_category %><br>
      <%= form.text_field :ingre_category_id %>
    </p>

    <p>
      <%= form.submit :Save, :class => "saveAction" %>
    </p>

<% end %>

  <%= image_tag 'back.png', :class => "iconLil" %>
  <%= link_to 'Back', admin_ingredient_index_path, :class => "action" %>
</div>
</body>
