<%= stylesheet_link_tag 'ingredient', 'admin-manage', 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= image_tag 'house.png', :class => "iconLil" %>
<%= link_to 'Home', admin_admin_index_path, :class => 'homeBTN' %>
<div class="header">
	<div class="inside_head">
		<%= image_tag 'house.png', :class => "iconLil" %>
		<%= link_to 'Home', admin_admin_index_path, :class => 'homeBTN' %>
	</div>
</div>

<div class="admin_sub">
  <h1 class="admin_sub_inside">
    <%= image_tag 'order.png', :class => "iconH1" %> Listing Ingredients
  </h1>
  <hr class="hr">
  <div class="insub">

    <h3>
      <%= link_to 'New ingredient', new_admin_ingredient_path, :class => "btn-user" %>
    </h3>

    <table>
      <tr class="admin_user_tr">
        <th>Name</th>
        <th>Category</th>
      </tr>

      <% @ingres.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <td><%= ingredient.ingre_category_id %></td>
          <td class="btn_form_td"><%= link_to ' Show ', admin_ingredient_path(ingredient), :class => "btn-form" %></td>
          <td class="btn_form_td"><%= link_to ' Edit ', edit_admin_ingredient_path(ingredient), :class => "btn-form" %></td>
          <td class="btn_form_td"><%= link_to ' Delete ', admin_ingredient_path(ingredient), :class => "btn-form" ,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
