<%= stylesheet_link_tag 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>
<body style="background-color: #d8e5f1;">
<div class="head">
  <h1 class="headWord">
    <%= image_tag 'cook.png', :class => "iconH1" %> Ingredient
  </h1>

  <hr>

  <p>
    <strong>Name:</strong>
    <%= @ingre.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @ingre.ingre_category_id %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= @ingre.calories %>
  </p>

    <table>
      <tr>
        <td class="tableAction">
          <%= image_tag 'plus.png', :class => "iconLil" %>
          <%= link_to 'Edit', edit_admin_ingredient_path(@ingre), :class => "action" %>
        </td>
        <td class="tableAction">
          <%= image_tag 'back.png', :class => "iconLil" %>
          <%= link_to 'Back', admin_ingredient_index_path, :class => "action" %>
        </td>
    </tr>
  </table>
  </div>
  </body>
