<%= stylesheet_link_tag 'ingredient', 'admin-manage', 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="admin_sub">
  <div class="insub">
    <h1 class="welcome_admin">Welcome to RECIDENT admin sector!</h1>
    <% if admin_logged_in? %>
        <h1 class="admin_sub_inside">You are Logged In, <%= current_admin.user_name %></h1>
    <%end%>
    <%= button_to "Sign up", '/admin/admin/new', method: :get%>
    <%= button_to "Login", '/admin/session/new', method: :get%>
    <%= button_to "Logout", '/admin/session', method: :delete%>
  </div>
</div>
