<%= stylesheet_link_tag 'ingredient', 'admin-manage', 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="admin_sub">
  <h1 class="admin_sub_inside">Login</h1>
  <hr class="hr">
  <div class="insub">
    <%= form_tag url: admin_session_index_path do %>
      <p class="label_new">
        <%= label_tag :user_name %>
        <%= text_field_tag :user_name %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag "Login" %>
      </p>
    <%end%>
  </div>
</div>
