<%= form_with model: @user,url: admin_user_index_path(@user), local: true do |form| %>
	<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%= pluralize(@user.errors.count, "error") %> prohibited this user from being registered:
		</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div>
		<p class="label_new">
			<%= form.label :username %><br>
			<%= form.text_field :user_name %>
		</p>
		<p class="label_new">
			<%= form.label :email %><br>
			<%= form.text_field :email %>
		</p>
		<p class="label_new">
			<%= form.label :password %><br>
			<%= form.text_field :password %>
		</p>
		<p>
			<%= form.submit %>
		</p>
	</div>
<% end %>
