<table>
    <tr>
        <th>
            <strong>ID:</strong>
        </th>
        <td>
        <%= @user.id %>
        </td>
    </tr>
    <tr>
        <th>
        <strong>Email:</strong>
        </th>
        <td>
        <%= @user.email %>
        </td>
    </tr>
    <tr>
    <th>
    <strong>Username:</strong>
    </th>
        <td>
        <%= @user.user_name %>
        </td>
        
    </tr>
    <tr>
        <th>
            <strong>Account created at:</strong>
        </th>
        <td>
        <%= @user.created_at %>
        </td>
    </tr>
</table>
<br>
<br>
<%= link_to 'Back', admin_user_index_path,class: "btn" %>

