<%= stylesheet_link_tag 'recipe', 'ingredient', 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="header">
    <strong class="recident_let">
      <%= image_tag 'cook.png', :class => 'logo_user_user' %>
      <%= link_to 'FoodIsLife', user_user_index_path, :class => 'head_recident_user'%>
    </strong>
    <% if user_logged_in?%>
      <div class="sign_btns">
        <span><%= button_to "Profile", user_user_path(current_user.id), method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Logout", user_session_index_path, method: :delete, id: "sign_btn" %></span>
      </div>
    <% else %>
      <div class="sign_btns">
        <span><%= button_to "Sign up", new_user_user_path, method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Login", new_user_session_path, method: :get, id: "sign_btn"%></span>
      </div>
    <% end %>
</div><br>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>

<div class="recipeShow">

  <div id="content-wrap">
  <div class="motto">
    <h1>Discover new recipes with your favourite ingredients!</h1>
    <h2>Share your recipe with the world</h2>
  </div>

  <div class="search">
      <div class="dropdown">
          <button class="dropbtn"><img src=<%= asset_path("menu.png") %> class="search_icon"></button>
          <div class="dropdown-content">
            <%= form_tag(search_user_rec_category_index_path, method: :get) do |f| %>
              <% RecCategory.all.each do |cate| %>
                <span><%= button_tag cate.name, :value => cate.id, :name => "rec_cate" %></span><br>
              <% end %>
            <% end %>
          </div>
      </div>
      <div class="search_form">
        <%= form_tag(user_search_index_path, method: :get) do %>
          <%= search_field_tag :search, params[:search], placeholder: "Write the name of the food you want to make" %>
          <%= button_tag "Search", :name => nil %>
        <%end%>
       <%= button_to "All recipes", user_recipe_index_path, method: :get, :class => 'all_recipe_user_btn' %>
      </div>
  </div>

<div class="ingre_area_user">
  <%= form_tag(search_user_recipe_and_ingredient_index_path, method: :get) do |f| %>
    <div class="img_area_user_edit">
      <% IngreCategory.all.each do |inca| %>
        <div class="user_rec_edit_out">
          <a class="cat_btn" onclick="ingre_show(<%=inca.id%>)">
          <%=inca.name%><br>
          <% if inca.image.full.url %>
            <%= image_tag inca.image.full.url, class: 'img_rec_user' %>
          <% else %>
            <%= image_tag asset_path("tomato.png"), class: 'img_rec_user' %>
          <% end %>
          </a>
          <div class="ingres", id=<%=inca.id%>>
            <% Ingredient.where("ingre_category_id = ?", inca.id).each do |ingre| %>
              <div class="user-ingres">
                <%= check_box_tag "ingredient_id[]", ingre.id %>
                <%= ingre.name %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <p class="search_btn_user_div">
    <%= submit_tag "Search with ingredients", :class => 'search_btn_ingre_user' %>
    <p>
      <div class="alert">
        <% if alert %>
          <strong>
            <%= alert %>
          </strong>
        <% end %>
      </div>
  <% end %>
  
  <ul class="grid-container">
    <% RecipeAndRate.all.each do |rai| %>
      <% Recipe.where("id = ?", rai.recipe_id).limit(3).each do |recipe| %>
        <li class="recipeimgli">
          <% if recipe.image.full.url %>
            <%= image_tag recipe.image.full.url, :class => 'recipeimg' %>
          <% else %>
            <%= image_tag asset_path("default.jpg"), :class => 'recipeimg'%>
          <% end %>
          <span class="recipeimgspan">
            <strong>Recipe name: </strong>
            <%= recipe.name %><br>
            <strong>Author: </strong>
            <%= User.find(recipe.author_id).user_name %><br>
            <%= link_to 'Show', user_recipe_path(recipe), class: "btn" %>

            <% if current_user.nil?%>
            <% else%>
              <%= link_to 'Favourite', user_favourite_index_path(recipe_id: recipe.id),
                  method: :post,
                  data: { confirm: 'Add Favourite' },
                  class: "btn" %> 
            <%end%>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>

</div>


  <script>
  function ingre_show(inca_id){
    var x = document.getElementById(inca_id);

    var clas = document.getElementsByClassName("content");

  if(x.style.display === "none"){
    for (var i = 0; i < clas.length; i++) {
    clas[i].style.display = "none";
    }
    x.style.display = "inline";
    x.style.opacity =  1;
  }
  else{
        x.style.display = "none";

    }
  }
  </script>
