
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <div id="page-container">

  <div class="user_home_header">
    <h1 id="logo">RECIDENT</h1>
    <% if user_logged_in?%>
      <div class="pro_btn">
        <span><%= button_to "Profile", 'user/user', method: :get, id: "profile_btn"%></span>
      </div>
    <% else %>
      <div class="sign_btns">
        <span><%= button_to "Sign up", new_user_user_path, method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Login", new_user_session_path, method: :get, id: "sign_btn"%></span>
      </div>
    <% end %>
  </div>
  <div id="content-wrap">
  <div class="motto">
    <h1>Discover new recipes with your favourite ingredients!</h1>
    <h2>Share your recipe with the world</h2>
  </div>

  <div class="search">
      <div class="dropdown">
          <button class="dropbtn"><img style="margin-top: 50%;" src=<%=asset_path("three1.png")%> ></img></button>
          <div class="dropdown-content">
            <%= form_tag(search_user_rec_category_index_path, method: :get) do %>
              <% RecCategory.all.each do |cate| %>
                <span><%= cate.name %><%= submit_tag cate.name, :value => cate.id, :name => "rec_cate" %></span><br>
              <% end %>
            <% end %>    
          </div>
      </div>
    </div>
    <div class="search">
    <%= form_tag(user_search_index_path, method: :get) do %>
      <%= search_field_tag :search, params[:search], placeholder: "Write the name of the food you want to make"%>
      <%= button_tag "Search", :name => nil %>
    <%end%>
    </div>
  </div>
  
  <%= form_tag(search_user_recipe_and_ingredient_index_path, method: :get) do |f| %>
    <div class="ingredients">
        <div class="category">
        <% IngreCategory.all.each do |inca| %>
          <a class="cat_btn" onclick="ingre_show(<%=inca.id%>)">
          <%=inca.name%><%= image_tag inca.image.full.url %>
          </a>
          <div class="content" id=<%=inca.id%>>
          <% Ingredient.where("ingre_category_id = ?", inca.id).each do |ingre| %>
            <%= check_box_tag "ingredient_id[]", ingre.id %>
            <%= ingre.name %>
            <% end %>
          </div>
          <% end %>  
      </div>
      <br>
      <%= submit_tag("Search by ingredients") %>
    </div>
    </div>
  <% end %>

      

  <script>

  function ingre_show(inca_id){
    var x = document.getElementById(inca_id);
    
    var clas = document.getElementsByClassName("content");

  if(x.style.display === "none"){
    for (var i = 0; i < clas.length; i++) {
    clas[i].style.display = "none";
    }
    x.style.display = "inline";
  }
  else{
        x.style.display = "none";
    
    }
  }
  </script>

