<%= stylesheet_link_tag 'admin-manage', 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="admin_sub">
  <div class="insub">
    <h1 class="admin_sub_inside">Sign up</h1>
    <hr class="hr">
<%= form_for :user, url: user_user_index_path do |f| %>
<p class="label_new">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %><br>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>