<%= stylesheet_link_tag 'user-profile-show', 'ingredient', 'search','profile-button', media: 'all', 'data-turbolinks-track': 'reload' %>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>
<div class="header">
    <strong class="recident_let">
      <%= image_tag 'cook.png', :class => 'logo_user_user' %>
      <%= link_to 'FoodIsLife', user_user_index_path, :class => 'head_recident_user'%>
    </strong>
    <% if user_logged_in?%>
      <div class="sign_btns">
      </div>
    <% else %>
      <div class="sign_btns">
        <span><%= button_to "Sign up", new_user_user_path, method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Login", new_user_session_path, method: :get, id: "sign_btn"%></span>
      </div>
    <% end %>
</div><br>
<div>
<%= image_tag 'house.png', :class => "iconLil" %>
  <%= link_to 'Home', user_user_index_path, :class => 'homeBTN' %>
  <p>
    <%= link_to 'New recipe', new_user_recipe_path, class: "send_btn" %>
  </p>
</div>
<div class="tab">
  <button class="tablinks" onclick="openRecipe(event, 'own')" id="defaultOpen">My own recipes</button>
  <button class="tablinks" onclick="openRecipe(event, 'favourite')">My favourite recipes</button>
</div>
<button class="open-button" id="btnLogin" style="font-family: Sofia;"><img class="imgPro" src=<%=asset_path("login.png")%> ><% if current_user.id %><%= current_user.user_name %><% end %></button>

<div class="form-popup" id="myForm">
  <!--<form class="form-container" id="myForm">
    <h1 style="color: rgb(245, 66, 150);"  id="myForm">Hello, <%= current_user.user_name %></h1>

    <label for="email" id="mail" id="myForm"><b>Username</b></label>
    <input type="text" id="myForm" value="<%= current_user.user_name %>" placeholder="Enter Email" name="email" required>

    <label for="email" id="mail" id="myForm"><b>Email</b></label>
    <input type="text" id="myForm" value="<%= current_user.email %>" placeholder="Enter Email" name="email" required>

    <label for="psw" id="myForm"><b>Password</b></label>
    <input type="password" id="myForm" placeholder="Enter Password" name="psw" required>

    <button type="submit" id="myForm" class="btnLogEdit" style="margin-left: 20px;"><%= link_to 'Edit', user_user_path(current_user.id)%></button>
    <button type="submit" id="myForm" class="btnLogExit"><%= link_to 'Logout', user_session_path, method: :delete %></button>-->


    <%= form_with model: @user, url: user_user_path(@user), class: "form-container", id: "myForm", local: true do |form| %>
      <div>
        <p>
	        <%= form.label :username, id: "myForm"%><br>
	        <%= form.text_field :user_name, id: "myForm"%>
        </p>
        <p>
	        <%= form.label :email, id: "myForm"%><br>
	        <%= form.text_field :email, id: "myForm"%>
        </p>
        <p>
	        <%= form.label :password, id: "myForm"%><br>
	        <%= form.text_field :password, id: "myForm"%>
        </p>
        <p>
	        <%= form.submit%>
          <%= link_to 'Log out', user_session_index_path, class: "logout_btn", id: "myForm" %>
        </p>
      </div>
    <% end %>
  </form>
</div>
<div id="own" class="tabcontent" style="padding-bottom: 5%;">
  <div class="recipeShow">
  <ul class="grid-container">
    <% Recipe.all.each do |recipe| %>
      <% if session[:user_id] == recipe.author_id %>
        <div>
        <li class="recipeimgli">
          <% if recipe.image.full.url %>
            <%= image_tag recipe.image.full.url, :class => 'recipeimg' %>
          <% else %>
            <%= image_tag asset_path("default.jpg"), :class => 'recipeimg'%>
          <% end %>
          <span class="recipeimgspan">
            <strong>Recipe name: </strong>
            <%= recipe.name %><br>
            <%= link_to 'Show', user_recipe_path(recipe), class: "btn" %>
            <%= link_to 'Edit', edit_user_recipe_path(recipe), class: "btn"%>
          <%= link_to 'Delete', user_recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "del_btn" %>
          </span>
        </li>
        </div>
      <% end %>
    <% end %>
    </ul>
    </div>
    <%= link_to 'Back', user_user_index_path(@user), class: "back_btn" %>
</div>

<div id="favourite" class="tabcontent" style="padding-bottom: 8%;">
  <div class="recipeShow">
  <ul class="grid-container">
    <% Favourite.all.each do |favourite| %>
      <% Recipe.all.each do |recipe| %>
        <% if favourite.recipe_id == recipe.id && session[:user_id] == favourite.user_id %>
          <div>
            <li class="recipeimgli">
          <% if recipe.image.full.url %>
            <%= image_tag recipe.image.full.url, :class => 'recipeimg' %>
          <% else %>
            <%= image_tag asset_path("default.jpg"), :class => 'recipeimg'%>
          <% end %>
          <span class="recipeimgspan">
            <strong>Recipe name: </strong>
            <%= recipe.name %><br>
            <%= link_to 'Show', user_recipe_path(recipe), class: "btn" %>
          <%= link_to 'Delete', user_favourite_path(favourite),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "del_btn" %>
          </span>
        </li>
          </div>
        <% end %>

      <% end %>
    <% end %>
    </ul>
    </div>
    <%= link_to 'Back', user_user_index_path(@user), class: "back_btn" %>
</div>
<div class="user_footer">
  <p>@Copyright Internship 2020</p>
</div>

<script>
function openRecipe(evt, RecipeName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(RecipeName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

$(function(){
    $("#btnLogin").click(function(e){
        e.stopPropagation();
        $("#myForm").show();
        $("body").click(function(e){
            if(e.target.id != "myForm")
            {
                $("#myForm").hide();
                $("form-popup").unbind("click");
            }
        });
    });

});
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
