<%= stylesheet_link_tag 'ingredient', 'admin-manage', 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="header">
	<div class="inside_head">
		<%= image_tag 'house.png', :class => "iconLil" %>
		<%= link_to 'Home', admin_admin_index_path, :class => 'homeBTN' %>
	</div>

<%= form_with model: @recipe, url: admin_recipe_path(@recipe), local: true do |form| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form">
  <p id="labels">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "inputs" %>
  </p>

  <div class="ingredients">
    <div class="category">
      <% IngreCategory.all.each do |inca| %>
        <a class="cat_btn" onclick="ingre_show(<%=inca.id%>)">
          <%=inca.name%>
          <% if inca.image.full.url %>
            <%= image_tag inca.image.full.url %>
          <% else %>
            <%= image_tag asset_path("tomato.png")%>
          <% end %>
        </a>
        <div class="content" id=<%=inca.id%>>
        <% Ingredient.where("ingre_category_id = ?", inca.id).each do |ingre| %>
          <% if RecipeAndIngredient.where("recipe_id = ?", @recipe.id).pluck(:ingredient_id).include?(ingre.id) %>
            <%= check_box_tag "ingredient_id[]", ingre.id, true %>
            <%= ingre.name %>
          <% else %>
            <%= check_box_tag "ingredient_id[]", ingre.id %>
            <%= ingre.name %>          
          <% end %>
        <% end %>
        </div>
      <% end %>  
    </div>
  </div>
 
  <p id="labels">
    <%= form.label :instruction %><br>
    <%= form.text_area :instruction, class: "inputs" %>
  </p>

  <p id="labels">
    <%= form.label :image %><br>
    <span class="sbtn"><%= form.file_field :image, class: "image" %></span>
  </p>

  <p id="labels">
    <%= collection_select(:recipe, :rec_category_id, RecCategory.all, :id, :name)%>
  </p>

  <p id="labels">
    <%= form.hidden_field :author_id, value: 0, class: "inputs" %>
  </p>
 
  <p>
    <%= form.submit :save, class: "submit" %>
  </p>
</div>
<% end %>

<%= link_to 'Back', admin_recipe_index_path, class: "btn" %>

<script>

function ingre_show(inca_id){
    var x = document.getElementById(inca_id);
    
    var clas = document.getElementsByClassName("content");

  if(x.style.display === "none"){
    for (var i = 0; i < clas.length; i++) {
    clas[i].style.display = "none";
    }
    x.style.display = "inline";
  }
  else{
        x.style.display = "none";
    
    }
}
</script>
7/2 11:06
