<table class="list">
  <tr>
    <th>
      <strong>Name:</strong>
    </th>
    <th>
      <strong>Instruction:</strong>
    </th>
    <th>
      <strong>Image:</strong>
    </th>
    <th>
      <strong>Author:</strong>
    </th>
  </tr>
  <tr>
    <td>
      <%= @recipe.name %>
    </td>
    <td>
      <%= @recipe.instruction %>
    </td>
    <td>
      <%= image_tag @recipe.image.full.url %>
    </td>
    <td>
      <%= @recipe.authorId %>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_admin_recipe_path(@recipe), class: "btn"%>
<%= link_to 'Back', admin_recipe_index_path, class: "btn" %>
