<%= stylesheet_link_tag 'recipe', 'ingredient','profile-button', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="header">
    <strong class="recident_let">
      <%= image_tag 'cook.png', :class => 'logo_user_user' %>
      <%= link_to 'FoodIsLife', user_user_index_path, :class => 'head_recident_user'%>
    </strong>
    <% if user_logged_in?%>
      <div class="sign_btns">
        
      </div>
    <% else %>
      <div class="sign_btns">
        <span><%= button_to "Sign up", new_user_user_path, method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Login", new_user_session_path, method: :get, id: "sign_btn"%></span>
      </div>
    <% end %>
</div><br>
<button class="open-button" id="btnLogin" style="font-family: Sofia;"><img class="imgPro" src=<%=asset_path("login.png")%> ><% if current_user.id %><%= current_user.user_name %><% end %></button>

<div class="form-popup" id="myForm">
    <%= form_with model: @user, url: user_user_path(session[:user_id]), class: "form-container", id: "myForm", local: true do |form| %>
      <div>
        <p>
           <label for="email" id="mail" id="myForm"><b>Username</b></label>
    <input type="text" id="myForm" value="<%= current_user.user_name %>" placeholder="Enter Email" name="email" required>
        </p>
        <p>
          <label for="email" id="mail" id="myForm"><b>Email</b></label>
    <input type="text" id="myForm" value="<%= current_user.email %>" placeholder="Enter Email" name="email" required>
        </p>
        <p>
          <label for="psw" id="myForm"><b>Password</b></label>
    <input type="password" id="myForm" placeholder="Enter Password" name="psw" required>
        </p>
        <p>
          <%= link_to 'Profile', href="http://localhost:3000/user/user/show" , class: "logout_btn", id: "myForm" %>
          <%= link_to 'Log out', user_session_index_path, class: "logout_btn", id: "myForm" %>
        </p>
      </div>
    <% end %>
  </form>
</div>

<%= form_with model: @recipe, url: user_recipe_path(@recipe), local: true do |form| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form" style="margin-top:5%;">
  <p id="labels">
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "inputs" %>
  </p>

  <div class="ingredients">
      <div class="category">
      <% IngreCategory.all.each do |inca| %>
        <a class="cat_btn" onclick="ingre_show(<%=inca.id%>)">
          <%=inca.name%>
          <% if inca.image.full.url %>
            <%= image_tag inca.image.full.url %>
          <% else %>
            <%= image_tag asset_path("tomato.png")%>
          <% end %>
        </a>
        <div class="content" id=<%=inca.id%>>
        <% Ingredient.where("ingre_category_id = ?", inca.id).each do |ingre| %>
          <% if RecipeAndIngredient.where("recipe_id = ?", @recipe.id).pluck(:ingredient_id).include?(ingre.id) %>
            <%= check_box_tag "ingredient_id[]", ingre.id, true %>
            <%= ingre.name %>
          <% else %>
            <%= check_box_tag "ingredient_id[]", ingre.id %>
            <%= ingre.name %>
          <% end %>
        <% end %>
        </div>
        <% end %>
    </div>
  </div>

  <p id="labels">
    <%= form.label :instruction %><br>
    <%= form.text_area :instruction, class: "inputs" %>
  </p>

  <p id="labels">
    <%= form.label :image %><br>
    <span class="sbtn"><%= form.file_field :image, class: "image" %></span>
  </p>

  <p id="labels">
    <%= collection_select(:recipe, :rec_category_id, RecCategory.all, :id, :name)%>
  </p>

  <p id="labels">
    <%= form.hidden_field :author_id, class: "inputs" %>
  </p>

  <p>
    <%= form.submit :save, class: "submit" %>
  </p>
</div>
<% end %>

<%= link_to 'Back', href="http://localhost:3000/user/user/show", class: "back_btn" %>

<script>
$(function(){
    $("#btnLogin").click(function(e){
        e.stopPropagation();
        $("#myForm").show();
        $("body").click(function(e){
            if(e.target.id != "myForm")
            {
                $("#myForm").hide();
                $("form-popup").unbind("click");
            }
        });
    });

});
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
function ingre_show(inca_id){
    var x = document.getElementById(inca_id);

    var clas = document.getElementsByClassName("content");

  if(x.style.display === "none"){
    for (var i = 0; i < clas.length; i++) {
    clas[i].style.display = "none";
    }
    x.style.display = "inline";
  }
  else{
        x.style.display = "none";

    }
}
</script>
<div class="user_footer">
  <p>@Copyright Internship 2020</p>
</div>
