<%= stylesheet_link_tag 'search', 'ingredient', 'recipe','profile-button', media: 'all', 'data-turbolinks-track': 'reload' %>


<div class="header">
    <strong class="recident_let">
      <%= image_tag 'cook.png', :class => 'logo_user_user' %>
      <%= link_to 'FoodIsLife', user_user_index_path, :class => 'head_recident_user'%>
    </strong>
    <% if user_logged_in?%>
      <div class="sign_btns">
        
      </div>
    <% else %>
      <div class="sign_btns">
        <span><%= button_to "Sign up", new_user_user_path, method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Login", new_user_session_path, method: :get, id: "sign_btn"%></span>
      </div>
    <% end %>
</div><br>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>


<div class="search">
    <div class="search_form">
      <div class="dropdown">
          <button class="dropbtn"><img src=<%= asset_path("menu.png") %> class="search_icon"></button>
          <div class="dropdown-content">
            <%= form_tag(search_user_rec_category_index_path, method: :get) do |f| %>
              <% RecCategory.all.each do |cate| %>
                <span><%= button_tag cate.name, :value => cate.id, :name => "rec_cate" %></span><br>
              <% end %>
            <% end %>
          </div>
      </div>
      <%= form_tag(user_search_index_path, method: :get) do %>
        <%= search_field_tag :search, params[:search], placeholder: "Write the name of the food you want to make"%>
        <%= button_tag "Search", :name => nil %>
      <%end%>
    </div>
</div>

<div class="recipeShow">
  <p>
    <%= link_to 'New recipe', new_user_recipe_path, class: "sendBTN" %>
  </p>
  <ul class="grid-container">
    <% if @results %>
      <% @results.each do |result| %>
        <li class="recipeimgli">
            <strong class="txt_user_img">Recipe name:
              <%= result.name %>
            </strong>
          <% if result.image.full.url %>
            <%= image_tag result.image.full.url, :class => 'recipeimg' %>
          <% else %>
            <%= image_tag asset_path("default.jpg"), :class => 'recipeimg'%>
          <% end %>
          <span class="recipeimgspan">
            <strong>Author: </strong>
            <% if User.exists?(result.author_id) %>
              <%= User.find(result.author_id).user_name %>
            <% else %>
              <h4>Unknown</h4>
            <% end %><br>

            <%= link_to 'Show', user_recipe_path(result), class: "btn" %>
            <% if current_user.nil?%>
            <% else %>
              <%= link_to 'Favourite', user_favourite_index_path(recipe_id: result.id),
                  method: :post,
                  data: { confirm: 'Add Favourite' },
                  class: "btn" %>
            <%end%>

          </span>
        </li>
      <% end %>
    <% else %>
      <% @recipe.each do |recipe| %>
        <li class="recipeimgli">
          <strong style="font-size:18px;">Recipe name:
            <%= recipe.name %>
          </strong>
          <% if recipe.image.full.url %>
            <%= image_tag recipe.image.full.url, :class => 'recipeimg' %>
          <% else %>
            <%= image_tag asset_path("default.jpg"), :class => 'recipeimg'%>
          <% end %>
          <span class="recipeimgspan">
            <strong>Author: </strong>
            <% if User.exists?(recipe.author_id) %>
              <%= User.find(recipe.author_id).user_name %>
            <% else %>
              <h4>Unknown</h4>
            <% end %><br>
            <%= link_to 'Show', user_recipe_path(recipe), class: "btn" %>

            <% if current_user.nil?%>
            <% else%>
              <%= link_to 'Favourite', user_favourite_index_path(recipe_id: recipe.id),
                  method: :post,
                  data: { confirm: 'Add Favourite' },
                  class: "btn" %>
            <%end%>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="user_footer" style="margin-top: 5%;">
  <p>@Copyright Internship 2020</p>
</div>
<script>
  $(function(){
    $("#btnLogin").click(function(e){
        e.stopPropagation();
        $("#myForm").show();
        $("body").click(function(e){
            if(e.target.id != "myForm")
            {
                $("#myForm").hide();
                $("form-popup").unbind("click");
            }
        });
    });

});
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
