<%= image_tag 'house.png', :class => "iconLil" %>
<%= link_to 'Home', user_user_index_path, :class => 'homeBTN' %>
<h1>Recipe list</h1>
<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= link_to 'New recipe', new_user_recipe_path, class: "btn" %>
<br>
<div class="grid-container">
  <% @recipe.each do |recipe| %>
      <div>
      <% recipe.name %>
      <% if recipe.image.full.url %>
        <%= image_tag recipe.image.full.url %>
      <% else %>
        <%= image_tag asset_path("default.jpg")%>
      <% end %>
      <% recipe.author_id %>
      <% link_to 'Show', user_recipe_path(recipe), class: "btn" %>
      </div>          
    
  <% end %>
  </div>


</table>
