<%= stylesheet_link_tag 'search', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="header">
  <%= image_tag 'house.png', :class => "iconLil" %>
  <%= link_to 'Home', user_user_index_path, :class => 'homeBTN' %>
</div><br>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>

<div class="search">
      <div class="dropdown">
          <button class="dropbtn"><img src=<%= asset_path("grid1.png") %>></button>
          <div class="dropdown-content">
            <%= form_tag(search_user_rec_category_index_path, method: :get) do |f| %>
              <% RecCategory.all.each do |cate| %>
                <span><%= button_tag cate.name, :value => cate.id, :name => "rec_cate" %></span><br>
              <% end %>
            <% end %>    
          </div>
      </div>
      <div class="search_form">
    <%= form_tag(user_search_index_path, method: :get) do %>
      <%= search_field_tag :search, params[:search], placeholder: "Write the name of the food you want to make"%>
      <%= button_tag "Search", :name => nil %>
    <%end%>
    </div>

<div class="recipeShow">
  <p>
    <%= link_to 'New recipe', new_user_recipe_path, class: "sendBTN" %>
  </p>

  <ul class="grid-container">
    <% @recipe.each do |recipe| %>
        <li class="recipeimgli">
          <% if recipe.image.full.url %>
            <%= image_tag recipe.image.full.url, :class => 'recipeimg' %>
          <% else %>
            <%= image_tag asset_path("default.jpg"), :class => 'recipeimg'%>
          <% end %>
          <span class="recipeimgspan">
            <strong>Recipe name: </strong>
            <%= recipe.name %><br>
            <strong>Author: </strong>
            <%= recipe.author_id %><br>
            <%= link_to 'Show', user_recipe_path(recipe), class: "btn" %>
            <% if current_user.nil?%>
            <% else%>
              <%= link_to 'Favourite', user_favourite_index_path(recipe_id: recipe.id),
                  method: :post,
                  data: { confirm: 'Add Favourite' },
                  class: "btn" %> 
            <%end%>
          </span>
        </li>
        
    <% end %>
    
  </ul>
</div>
