<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Add your own recipe!</h1>

<%= form_with scope: :recipe, url: user_recipe_index_path(@recipe), local: true do |form| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@recipe.errors.count, "error") %> prohibited
          this recipe from being saved:
        </h2>
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div id="form">
    <p id="labels">
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "inputs" %>
    </p>

    <p id="labels">
      <%= form.label :instruction %><br>
      <%= form.text_area :instruction, class: "inputs" %>
    </p>

    <p id="labels">
      <% form.label :rating %><br>
      <% form.number_field :rating, value: 0, class: "inputs" %>
    </p>

    <p id="labels">
      <%= form.label :image %><br>
      <span class="sbtn"><%= form.file_field :image, class: "image" %></span>
    </p>

    <p id="labels">
    <%= collection_select(:id, 0, RecCategory.all, :id, :name)%>
    </p>

    <p id="labels">
      <%= form.label :author %><br>
      <%= form.label current_user.user_name , class: "inputs" %>
    </p>

    <p>
      <%= form.submit nil, class: "submit" %>
    </p>
  </div>



  <%= link_to 'Back', user_recipe_index_path(@recipe), class: "btn" %>

  <% end %>
