<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="header">
  <%= image_tag 'house.png', :class => "iconLil" %>
  <%= link_to 'Home', user_user_index_path, :class => 'homeBTN' %>
</div><br>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>

<div class="recipeShow">
  <strong class="recipeName">Add your own recipe!</strong>

  <%= form_with scope: :recipe, url: user_recipe_index_path(@recipe), local: true do |form| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@recipe.errors.count, "error") %> prohibited
          this recipe from being saved:
        </h2>
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="form">
      <p id="labels">
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "inputs" %>
      </p>

      <p id="labels">
        <%= form.label :instruction %><br>
        <%= form.text_area :instruction, class: "inputInst" %>
      </p>
      
      <p id="labels">
        <%= form.label :image %><br>
        <%= form.file_field :image, class: "image" %>
      </p>

      <p id="labels">
        <%= collection_select(:id, 0, RecCategory.all, :id, :name)%>
      </p>

      <p id="labels">
        <%= form.label :author %><br>
        <%= form.label current_user.user_name %>
      </p>

      <p id="labels">
        <%= form.submit nil, :class => 'sendBTN' %>
      </p>

      <!-- rating area -->
        <% form.label :rating %><br>
        <% form.number_field :rating, value: 0, class: "inputs" %>

    </div>
    <p id="labels">
      <%= link_to 'Back', user_recipe_index_path(@recipe), class: "sendBTN" %>
</p>
  <% end %>
</div>
