<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="header">
  <%= image_tag 'house.png', :class => "iconLil" %>
  <%= link_to 'Home', user_user_index_path, :class => 'homeBTN' %>
</div><br>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>

<div class="recipeShow">
  <strong class="recipeName">Add your own recipe!</strong>

  <%= form_with scope: :recipe, url: user_recipe_index_path(@recipe), local: true do |form| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@recipe.errors.count, "error") %> prohibited
          this recipe from being saved:
        </h2>
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p id="labels">
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "inputs" %>
    </p>

    <div class="ingredients">
      <div class="category">
        <% IngreCategory.all.each do |inca| %>
          <a class="cat_btn" onclick="ingre_show(<%=inca.id%>)">
           <%=inca.name%><img style="max-width:100%; height: auto;" src=<%= asset_path("vegetable.png") %> >
          </a>
          <div class="content" id=<%=inca.id%>>
           <% Ingredient.where("ingre_category_id = ?", inca.id).each do |ingre| %>
            <%= check_box_tag "ingredient_id[]", ingre.id %>
            <%= ingre.name %>
            <% end %>
          </div>
        <% end %>  
      </div>
    </div>

    <p id="labels">
      <%= form.label :instruction %><br>
      <%= form.text_area :instruction, class: "inputInst" %>
    </p>

      <p id="labels">
        <%= form.label :
        %><br>
        <%= form.file_field :image, class: "image" %>
      </p>
    <p id="labels">
      <%= collection_select(:recipe, :rec_category_id, RecCategory.all, :id, :name)%>
    </p>

    <p id="labels">
      <%= form.label :author_id %><br>
      <%= form.label current_user.user_name, class: "inputs" %><br>
      <%= form.hidden_field :author_id, :value => current_user.id%>
    </p>
      <!-- rating area -->
        <% form.label :rating %><br>
        <% form.number_field :rating, value: 0, class: "inputs" %>


    <p>
      <%= form.submit nil, class: "submit" %>
    </p>
<% end %>

  <%= link_to 'Back', user_recipe_index_path(@recipe), class: "btn" %>

<script>

function ingre_show(inca_id){
    var x = document.getElementById(inca_id);
    
    var clas = document.getElementsByClassName("content");

  if(x.style.display === "none"){
    for (var i = 0; i < clas.length; i++) {
    clas[i].style.display = "none";
    }
    x.style.display = "inline";
  }
  else{
        x.style.display = "none";
    
    }
}
</script>
