
<%= stylesheet_link_tag 'recipe', 'ingredient', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="header">
  <%= image_tag 'house.png', :class => "iconLil" %>
  <%= link_to 'Home', user_user_index_path, :class => 'homeBTN' %>
  <% if user_logged_in?%>
      <div class="sign_btns">
        <span><%= button_to "Profile", user_user_path(current_user.id), method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Logout", user_session_index_path, method: :delete, id: "sign_btn" %></span>
      </div>
    <% else %>
      <div class="sign_btns">
        <span><%= button_to "Sign up", new_user_user_path, method: :get, id: "sign_btn"%></span>
        <span><%= button_to "Login", new_user_session_path, method: :get, id: "sign_btn"%></span>
      </div>
    <% end %>
</div><br>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
</head>
<div class="recipeShow">
  <strong class="recipeName">Recipe:
    <%= @recipe.name %>
  </strong> by
  <% if User.exists?(@recipe.author_id) %>
    <% if @recipe.author_id.present? %>
    <%= User.find(@recipe.author_id).user_name %>
    <%end%>
  <% else %>
    <h4>Unknown</h4>
  <% end %><br>

  <% if @rate.present? %>
    <% while @rate.ave_rate != 0 do %>
      <%= link_to image_tag 'starYellow.png', :style => 'width:15px;' %>
      <% @rate.ave_rate = @rate.ave_rate - 1 %>
    <% end %>
  <% end %>
  <% while @non_rated != 0 do %>
    <%= link_to image_tag 'starWhite.png', :style => 'width:15px;' %>
    <% @non_rated = @non_rated - 1 %>
  <% end %><br>
  <div>
<h4 style="display: inline;">Rating : </h4>
  <% if @res %>
    <%= @res %>
  <% end %>
</div>
  <% if @recipe.image.full.url %>
     <%= image_tag @recipe.image.full.url, :class => 'recipeImage' %>
  <% else %>
     <%= image_tag asset_path("default.jpg"), :class => 'recipeImage'%>
  <% end %>

  <p>
    <strong class="recipeInst">Instruction</strong><br>
    <%= @recipe.instruction %>
  </p>
  <p>
    <strong class="recipeInst">Ingredients</strong><br>
    <% RecipeAndIngredient.where("recipe_id = ?", @recipe.id).each do |rip| %>
      <li><%= Ingredient.find(rip.ingredient_id).name %></li>
    <% end %>
  </p>
</div><br>

<div class="recipeShow">
  <strong class="recipeInst">Rate the Recipe!</strong>

  <%= link_to image_tag('starWhite.png', :style => 'width:15px;', :class => 'star_rating star_1', :data => 1),
              user_recipe_recipe_and_rate_index_path(@recipe, rate: 1), method: :post %>
  <%= link_to image_tag('starWhite.png', :style => 'width:15px;', :class => 'star_rating star_2', :data => 2),
              user_recipe_recipe_and_rate_index_path(@recipe, rate: 2), method: :post %>
  <%= link_to image_tag('starWhite.png', :style => 'width:15px;', :class => 'star_rating star_3', :data => 3),
              user_recipe_recipe_and_rate_index_path(@recipe, rate: 3), method: :post %>
  <%= link_to image_tag('starWhite.png', :style => 'width:15px;', :class => 'star_rating star_4', :data => 4),
              user_recipe_recipe_and_rate_index_path(@recipe, rate: 4), method: :post %>
  <%= link_to image_tag('starWhite.png', :style => 'width:15px;', :class => 'star_rating star_5', :data => 5),
              user_recipe_recipe_and_rate_index_path(@recipe, rate: 5), method: :post %>

  <% @recipe.recipe_and_rates.each do |rate| %>
    <p>
      <div class="commentView">
        <strong>
          <% if User.exists?(@recipe.author_id) %>
            <%= User.find(@recipe.author_id).user_name %>
          <% else %>
            <h4>Unknown :</h4>
          <% end %>
        </strong>
        <%= rate.rate %>
        <% if current_user.nil?%>
        <% elsif rate.user_id == current_user.id%>
          <span class="commHover">
            <%= link_to 'Delete', user_recipe_recipe_and_rate_path(recipe_id: @recipe.id, id: rate), :class => 'commDelete',
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
          </span>
        <%end%>
      </div>
    </p>
  <% end %>

  <div class="alert">
    <% if alert %>
      <strong>
        <%= alert %>
      </strong>
    <% end %>
  </div>


</div>
<%#= image_tag 'pencil.png', :class => "commentActionIcon" %>

<%#= image_tag 'deleteComm.png', :class => "commentActionIcon" %>

<div class="recipeShow">
  <h2><%= image_tag 'book.png', :style => 'width:4%; padding-top:5px;'%> Comments</h2>
  <% @recipe.comments.each do |comment| %>
    <p>
      <div class="commentView">
      <strong>
        <% if User.exists?(@recipe.author_id) %>
              <%= User.find(@recipe.author_id).user_name %>
            <% else %>
              <h4>Unknown</h4>
            <% end %><br>
      </strong>
        <%= comment.comment %>
        <% if current_user.nil?%>
        <% elsif comment.user_id == current_user.id%>
        <span class="commHover">
          <%= link_to 'Delete', user_recipe_comment_path(recipe_id: @recipe.id, id: comment), :class => 'commDelete',
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </span>
        <%end%>
      </div>
    </p>
  <% end %>

  <%= form_with(model: @recipe.comments.build, url: user_recipe_comments_path(recipe_id: @recipe.id), local: true) do |f| %>

    <h3><%= f.label :'Write your comment' %></h3>
    <%= f.text_area :comment, :class => 'areasRaCo' %>
    <%= f.submit :Send, :class => 'sendBTN' %>

  <% end %>
  <div class="alert">
    <% if alert %>
      <strong>
        <%= alert %>
      </strong>
    <% end %>
  </div>
</div>
<div class="user_footer">
  <p>@Copyright Internship 2020</p>
</div>
