<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= link_to 'Home', admin_admin_index_path, :class => 'homeBTN' %>
<div class="indexCate">

 <%= link_to 'New rec_Category', new_admin_rec_category_path, :class => 'newCate' %>
  <p></p>
  <%= link_to 'New ingre_Category', new_admin_ingre_category_path, :class => 'newCate' %>
<p></p>
<div><a class="userBtn" href="http://localhost:3000/admin/rec_category">Show rec_Category</a>
</div>
<p></p>


<table  style="float: left;">
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <% @ingrecategory.each do |ingre_category| %>
    <tr>
      <td><%= ingre_category.id %></td>
      <td><%= ingre_category.name %></td>
      <td class="newCate"><%= link_to 'Show', admin_ingre_category_path(ingre_category), :class => 'newCate' %></td>
      <td class="newCate"><%= link_to 'Edit', edit_admin_ingre_category_path(ingre_category), :class => 'newCate' %></td>
      <td class="newCate"><%= link_to 'Destroy', admin_ingre_category_path(ingre_category), :class => 'newCate' ,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</div>
