<%= form_with(model: @ingre, url: ingredient_index_path, local: true) do |form| %>

  <% if @ingre.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ingre.errors.count, "error") %>
  prohibited
        this ingredient from being saved:
      </h2>
      <ul>
        <% @ingre.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.number_field :categoryId %>
  </p>

  <p>
    <%= form.label :calories %><br>
    <%= form.number_field :calories %>
  </p>

  <p>
    <%= form.submit :Save, :class => "saveAction" %>
  </p>

<% end %>
