<p>
  <strong>Name:</strong>
  <%= @ingre.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ingre.categoryId %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @ingre.calories %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingre), :class => "action" %> |
<%= link_to 'Back', ingredient_index_path, :class => "action" %>
